<link rel="shortcut icon" href="./images0/Stacked_Full.png"/>

<head>
  <title>Peng's website</title>
  <meta name="description" content="free website template" />
  <meta name="keywords" content="enter your keywords here" />
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/image_slide.js"></script>
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="banner">
	    <a href="#">Welcome to Peng's website</a>
	  </div>
      <div id="menubar">
        <ul id="menu">
          <li><a href="index.html">Home</a></li>
          <li><a href="ourwork.html">Research Projects</a></li>
          <li><a href="publications.html">Publications</a></li>
          <li><a href="news.html">News</a></li>
		  <li><a href="techBlog.html">Tech Blogs</a></li>
          <li class="last"><a href="collaborators.html">Collaborators</a></li>
        </ul>
      </div>
    </div>
	<!--
	<div class="sidebar_containerL">
		<div class="sidebarL">
			<a class="twitter-timeline" href="https://twitter.com/declanide" data-widget-id="634733354391347200">Tweets by @declanide</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>
	-->
	
    <div id="site_content">
            
	  <div id="content">
        <div class="content_item">
			<div style="float:left; height: 181px; border: 2px solid #CCC; margin-right: 10px; padding: 5px;"><img  height="180" width="200" src="./images0/dp2.png" alt="image" /></div>
			<p><a href="https://sites.google.com/site/declanide/" target="_blank">Google site</a>, <a href="http://orcid.org/0000-0002-3015-7485#sthash.hZRZ9424.dpuf" target="_blank">ORCID</a>, <a href="https://www.researchgate.net/profile/Peng_Dai6" target="_blank">Research Gate</a>, <a href="./old/index.html" target="_blank">Old Version</a> </p>

			<p>Currently (from Jan 2015 until now), I'm with the Department of Computer Science, University of Western Ontario, also affiliated with Robarts Research Institute. I'm working on the modeling and detection of Alzheimer's Disease (AD) with <a href="http://cmhr.uwo.ca/mentors/bios/gwadry.html" target="_blank"> Dr. Femida Gwadry-Sridhar</a> and <a href="http://www.csd.uwo.ca/~bauer/" target="_blank">Prof. Michael Bauer</a> as my Principal Investigators. I'm also working closely with Prof. Michael Borrie, and Dr. Robert Bartha.</p>

			<p>From Jan 2014 to Dec 2014, I worked as a Postdoctoral Fellow in Toronto Rehabilitation Institute (TRI), joint affiliated with the Department of Computer Science, University of Toronto. TRI is a member of University Health Network (UHN) and is affiliated with the University of Toronto. University Health Network (UHN) is Canada's largest research hospital, and a major teaching hospital of the University of Toronto. My supervisors are Assit/P Frank Rudzicz (Department of Computer Science, University of Toronto) and A/P Alex Mihailidis (Dept of Occupational Science and Occupational Therapy & Institute of Biomaterials and Biomedical Engineering, University of Toronto).</p>

			<p>From July 2012 to Dec 2013, I worked as a Research Associate for Assist/P Ho Shen-Shyang in School of Computer Engineering (SCE) of Nanyang Technological University (NTU). I was with the Center for Computational Intelligence (C2i).</p>
			
            <h4>Research Topic</h4>
			<p>General Research Interests: Machine Learning, Statistical Learning, Data Mining, Artificial Intelligence, and Pattern Recognition.</p>

			<p>Research Focus: Automatic Speech Recognition, Natural Language Processing, Behavior Analysis, and Human-Robot Interaction. I mainly use Matlab, Perl, and C++ in my research. Sample codes of my project can be obtained at <a href="https://github.com/declanide/ASRsampleCode" target="_blank">GitHut</a>.</p>
			<p>1. <a href="https://sites.google.com/site/declanide/home/alzheimer" target="_blank">Machine Learning in the Diagnosis and Prognostication of Alzheimer's Disease</a></p>
			<p>2. <a href="https://sites.google.com/site/declanide/home/automatic-speech-recognition" target="_blank">Automatic Speech Recognition (ASR)</a></p>
			<p>3. <a href="https://sites.google.com/site/declanide/home/trajectory-pattern-mining-1" target="_blank">Machine Learning in Behavior Analysis (Human Dynamics)</a></p>
			<p>4. <a href="https://sites.google.com/site/declanide/home/rehabilitation" target="_blank">Human-Robot Interaction (HRI)</a></p>

			<p>For more details about my research please refer to <a href="https://sites.google.com/site/declanide/" target="_blank">https://sites.google.com/site/declanide/</a></p>
			
            <h4>Publications</h4>
			<p><a href="https://scholar.google.ca/citations?user=pOpgtRgAAAAJ&hl=en" target="_blank">Google Cition</a>, <a href="./files/thesis.pdf" target="_blank">PhD thesis</a></p>

			2015:
			<ul>
			<li><b>P. Dai</b>, F. Gwadry-Sridhar, M. Bauer, and M. Borrie, A hybrid manifold learning algorithm for the diagnosis and prognostication of Alzheimer's disease, in AMIA 2015 Annual Symposium, San Francisco, CA, USA, 14-18 Nov, 2015.</li>

			<li><b>P. Dai</b>, F. Gwadry-Sridhar, M. Bauer, and M. Borrie, Structural Differences in Cognitively Normal, Mild Cognitive Impairment, and Alzheimer's Disease Individuals: A Novel Study Based on Brain Symmetry, in Alzheimer's Association International Conference (AAIC), Washington D.C., USA, 18-23 July, 2015. (Published in Alzheimer's & Dementia: The Journal of the Alzheimer's Association)</li>

			<li><b>P. Dai</b>, F. Gwadry-Sridhar, M. Bauer, and M. Borrie, Brain Degeneration: How Alzheimer's Disease Affects the Human Brain, in Aging and Society: Fifth Interdisciplinary Conference, Washington D.C., USA, 5-6 November, 2015.</li>

			<li><b>P. Dai</b>, S. S. Ho, and F. Rudzicz, Sequential behavior prediction based on hybrid similarity and cross-user activity transfer, Knowledge-Based Systems, vol. 77, pp 29-39, 2015.</li>

			<li><b>P. Dai</b>, F. Rudzicz, I. Y. Soon, A. Mihailidis, and H. Ding, 2D psychoacoustic modeling of equivalent masking for automatic speech recognition system, Signal Processing, vol. 115, pp 9-19, 2015.</li>

			<li>S. S. Ho, <b>P. Dai</b>, and F. Rudzicz, Manifold Learning for Multivariate Variable-length Sequences with an Application to Similarity Search, IEEE Transactions on Neural Networks and Learning Systems, vol PP(99), 2015.</li>

			<li>H. Ding, T. Lee, I. Y. Soon, C. K. Yeo, <b>P. Dai</b>, and G. Dan, Objective Measures for Quality Assessment of Noise-suppressed Speech, Speech Communication, vol. 71, pp. 62-73, 2015.</li>
			</ul>
			2014:
			<ul>
			<li><b>P. Dai</b> and S. S. Ho, A Smartphone User Activity Prediction Framework Utilizing Partial Repetitive and Landmark Behaviors, in IEEE International Conference on Mobile Data Management (MDM), Brisbane, Australia, 14-18 July, 2014.</li>
			</ul>

			2013:
			<ul>
			<li><b>P. Dai</b> and I. Y. Soon, An Improved Model of Masking Effects for Robust Speech Recognition System, Speech Communication, vol 55, pp. 387-396, 2013.</li>

			<li><b>P. Dai</b> and I. Y. Soon, Robust Speech Recognition by Using Spectral Subtraction with Noise Peak Shifting, IET Signal Processing, Volume 7, issue 8, p. 684 - 692, 2013.</li>

			<li><b>P. Dai</b>, W. Yang, and S. S. Ho, Predicting Mobile Call Behavior via Subspace Methods, in International Conference on Social Computing, Behavioral-Cultural Modeling, & Prediction (SBP2013), Washington, DC, Apr. 2-5, 2013.</li>
			</ul>

			2012:
			<ul>
			<li><b>P. Dai</b> and I. Y. Soon, A Temporal Frequency Warped (TFW) 2D Psychoacoustic Filter for Robust Speech Recognition System, Speech Communication, vol. 54, pp. 402-413, 2012.</li>

			<li><b>P. Dai</b>, I. Y. Soon and R. Tao, Direct Recovery of Clean Speech using a Hybrid Noise Suppression Algorithm for Robust Speech Recognition System, ISRN Signal Processing, 2012.</li>
			</ul>

			2011:
			<ul>
			<li><b>P. Dai</b> and I. Y. Soon, Iterative Language Model Adaptation for Large Vocabulary Continuous Speech Recognition, in IEEE International Conference on Computer Science and Information Technology (ICCSIT), vol. 5, 2011.</li>

			<li><b>P. Dai</b> and I. Y. Soon, An Adaptive Soft Voice Activity Detector for Automatic Speech Recognition System, Proceedings of International Conference on Information, Communications and Signal Processing (ICICS), pp.1-5, 2011.</li>

			<li>Q. Wang, H. Wang, K. Hao, and <b>P. Dai</b>, Two-phase flow regime identification based on cross-entropy and information extension methods for computerized tomography, IEEE Transactions on Instrumentation and Measurement, vol. 60, pp. 488-495, 2011.</li> 

			<li>Baiying Lei, I.Y. Soon, Z. Li, and <b>P. Dai</b>, An Optimal Audio Watermarking Scheme Based on Particle Swarm Optimization, Proceedings of International Conference on Information, Communications and Signal Processing (ICICS), 2011.</li>
			</ul>

			2010:
			<ul>
			<li><b>P. Dai</b> and I. Y. Soon, A temporal warped 2D psychoacoustic modeling for robust speech recognition system, Speech Communication, vol. 53, pp. 229-241, 2010.</li>
			</ul>

			2009:
			<ul>
			<li><b>P. Dai</b>, I. Y. Soon, and C. K. Yeo, 2D psychoacoustic filtering for robust speech recognition, International Conference on Information, Communications and Signal Processing (ICICS), 2009.</li>
			</ul>
        </div>
      </div>
	  
	  
	  
      <div class="sidebar_container">
		<div class="sidebar_twitter">
			
			<a class="twitter-timeline" href="https://twitter.com/declanide" data-widget-id="634733354391347200">Tweets by @declanide</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	
	
		</div>
		
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h2>Contact</h2>
			<h4> Middlesex College, Room 240A, The University of Western Ontario, London, ON, Canada N6A3K7</h4>
            <!-- <h4><span style="color: #444; width: 55px;float: left;">Address: </span> Middlesex College, Room 240A, The University of Western Ontario, London, ON, Canada N6A3K7</h4> -->
            
			<h4><span style="color: #444; width: 55px;float: left;">Email:</span><a href="mailto:peng.dai.ca@ieee.org">peng.dai.ca@ieee.org</a></h4>
            <!-- <a href="http://twitter.com/"><img src="images/icons/twitter.png" alt="twitter" /></a><a href="http://www.facebook.com/"><img src="images/icons/facebook.png" alt="facebook" /></a><a href="http://uk.linkedin.com/"><img src="images/icons/linkedin.png" alt="linked in" /></a>
			-->
			
			<script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?u=elne&d=V43s0TqHJS5x00_CVkK23rIJycJBenScD-d-fy3Zvp8"></script>
			
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h2>Latest Update</h2>
            <h4>January 2012</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus tempor enim. Aliquam facilisis neque non nunc posuere eget volutpat metus tincidunt</p>
          </div>
          <div class="sidebar_base"></div>
        </div>
      </div>
    </div>
	

    <div id="footer">
      <a href="http://validator.w3.org/check?uri=referer">Valid XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">Valid CSS</a> | <a href="http://dryicons.com/">Icons</a> | <a href="http://www.pdphoto.org/">Images</a> | website template by <a href="http://www.araynordesign.co.uk">ARaynorDesign</a>
    </div>
  </div>
  <p style="float: left;padding: 0;">&nbsp;</p>
  
</body>
</html>
