<link rel="shortcut icon" href="./images0/Stacked_Full.png"/>

<head>
  <title>Developing website</title>
  <meta name="description" content="free website template" />
  <meta name="keywords" content="enter your keywords here" />
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/image_slide.js"></script>
</head>

<body>
  <div id="main">

This website is designed to provide demo codes for my projects.
	
    <div id="site_content">
            
	  <div id="content">
        <div class="content_item">
			<h4>Bio</h4>
			<p><a href="https://sites.google.com/site/declanide/" target="_blank">Google site</a>, <a href="http://orcid.org/0000-0002-3015-7485#sthash.hZRZ9424.dpuf" target="_blank">ORCID</a>, <a href="https://www.researchgate.net/profile/Peng_Dai6" target="_blank">Research Gate</a> </p>

			<p>Currently (from Jan 2015 until now), I'm with the Department of Computer Science, University of Western Ontario, also affiliated with Robarts Research Institute. I'm working on the modeling and detection of Alzheimer's Disease (AD) with <a href="http://cmhr.uwo.ca/mentors/bios/gwadry.html" target="_blank"> Dr. Femida Gwadry-Sridhar</a> and <a href="http://www.csd.uwo.ca/~bauer/" target="_blank">Prof. Michael Bauer</a> as my Principal Investigators. I'm also working closely with Prof. Michael Borrie, and Dr. Robert Bartha.</p>

			<p>From Jan 2014 to Dec 2014, I worked as a Postdoctoral Fellow in Toronto Rehabilitation Institute (TRI), joint affiliated with the Department of Computer Science, University of Toronto. TRI is a member of University Health Network (UHN) and is affiliated with the University of Toronto. University Health Network (UHN) is Canada's largest research hospital, and a major teaching hospital of the University of Toronto. My supervisors are Assit/P Frank Rudzicz (Department of Computer Science, University of Toronto) and A/P Alex Mihailidis (Dept of Occupational Science and Occupational Therapy & Institute of Biomaterials and Biomedical Engineering, University of Toronto).</p>

			<p>From July 2012 to Dec 2013, I worked as a Research Associate for Assist/P Ho Shen-Shyang in School of Computer Engineering (SCE) of Nanyang Technological University (NTU). I was with the Center for Computational Intelligence (C2i).</p>
			
            <h4>Research Topic</h4>
			<p>General Research Interests: Machine Learning, Statistical Learning, Data Mining, Artificial Intelligence, and Pattern Recognition.</p>

			<p>Research Focus: Automatic Speech Recognition, Natural Language Processing, Behavior Analysis, and Human-Robot Interaction. I mainly use Matlab, Perl, and C++ in my research. Sample codes of my project can be obtained at <a href="https://github.com/declanide/ASRsampleCode" target="_blank">GitHut</a>.</p>
			<p>1. <a href="https://sites.google.com/site/declanide/projects/alzheimer" target="_blank">Machine Learning in the Diagnosis and Prognostication of Alzheimer's Disease</a></p>
			<p>2. <a href="https://sites.google.com/site/declanide/projects/automatic-speech-recognition" target="_blank">Automatic Speech Recognition (ASR)</a></p>
			<p>3. <a href="https://sites.google.com/site/declanide/projects/trajectory-pattern-mining-1" target="_blank">Machine Learning in Behavior Analysis (Human Dynamics)</a></p>
			<p>4. <a href="https://sites.google.com/site/declanide/projects/rehabilitation" target="_blank">Human-Robot Interaction (HRI)</a></p>

			<p>For more details about my research please refer to <a href="https://sites.google.com/site/declanide/" target="_blank">https://sites.google.com/site/declanide/</a></p>
			

	

    
  </div>
  <p style="float: left;padding: 0;">&nbsp;</p>
  
</body>
</html>
